<nav id="main_nav" class="flex" >
    <a class="boutton" href="{{ path('main_accueil') }}" >Accueil</a>
    <a class="boutton" href="{{ path('clientArticle_accueil') }}" >Produits</a>
    <a class="boutton boutton_endNav" href="{{ path('main_presentation') }}" >L'Entreprise</a>
</nav>