{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mot de passe oublié ?</h1>
    <form id="MDPOublier_form" method="post" action=" {{ path('app_motDePasseOublier') }}">
        <label for="email">Email </label>
        <input type="text" id="email" name="email" />
        <button class="boutton boutton_endNav" type="submit">Envoyer</button>
    </form>
{% endblock %}

{% block title %}
    Recuperation du mot de passe
{% endblock %}

