{% extends 'miseEnPage_Classique.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="listeArticle flex wrap">
    {% for article in listeArticle %}
        {% include 'clientArticle/affichage.html.twig' with {'article': article} %}
    {% endfor %}
    </div>
{% endblock %}

{% block slider %}
    <div id="slider">
        <figure>
            <a href="#"> <img src="../public/img/frame-29873_640.png" alt> </a>
            <a href="#"> <img src="../public/img/frame-29873_640.png" alt> </a>
            <a href="#"> <img src="../public/img/frame-29873_640.png" alt> </a>
            <a href="#"> <img src="../public/img/frame-29873_640.png" alt> </a>
            <a href="#"> <img src="../public/img/frame-29873_640.png" alt> </a>
            <a href="#"> <img src="../public/img/frame-29873_640.png" alt> </a>
            <a href="#"> <img src="../public/img/frame-29873_640.png" alt> </a>
        </figure>
    </div>
{% endblock %}