{% extends 'base.html.twig' %}

{% block body %}
    <a class="boutton" href="{{ path('invitationClient_accueil') }} " >Invité un client VIP</a>
{% endblock %}

{% block title %}
    Admin Accueil
{% endblock %}

