{% extends 'miseEnPage_Classique.html.twig' %}

{% block title %}A propos de nous ! {% endblock %}

{% block body %}
    <div class="espaceTopBot flex jc_spaceEvenly" id="presentation">
        <img  class="espaceDroite" src="/CuirNomade/public/img/InterieurMagasin.jpg" alt="Image de l'intérieur du Magasin">
        <div>
            <p>
                Notre passion s'exprime dans nos produits en cuir pour vous proposer une gamme originale de qualité et farbiqué à la main.
            </p>
            <p>
                Nos ceintures sont réalisées en cuir de vachette pleine fleur avec un tannage végétal.
                Les bijoux sont une création maison avec une bijouterie plaquée argent. Les cuirs utilisés sont de vachette, chèvre et pour certaint avec des impressions.
                Depuis plus de 15 ans je me renouvelle en permana ce pour vous proposer un choix original et de qualité.
            </p>
            <p>
                Les sacs et Chaussures sont réalisés à Marackeh par des artisans sélectionner pour leur savoir-faire ancestral et apte des modèles originaux et mordene.
            </p>
            <p>
                Suite à de nombreux séjours au Maroc et aux belles rencontres que nous avons faits dans ce pays, accueillant, charmant, et stupéfiant par la diversité de son artisanat.
                Nous avons démarré cette activité en 2004 sur les marchés dans un premier temps, puis en boutique à partir de 2015.
            </p>
            <p>
                Tous les ans nous allons à Marackech pour retrouver nos artisans, sélectionnés nos cuirs, pour certaint déstocké d'Italie, France, Espagne, Portugal ( d'où le nom cuir nomade) ce qui nous permet faire monter des modèles originaux et confortables.
                Toujours liés à notre passion de cuir nous aimons créer nos propres modèles
            </p>
        </div>
    </div>
{% endblock %}
