/*------------------------------------------------------------------------------------*/
/* class flex réutilisable */
.flex {
    display: flex;
}

.jc_center {
    justify-content: center;
}

.jc_spaceEvenly {
    justify-content: space-evenly;
}

.jc_spaceBetween {
    justify-content: space-between;
}

.jc_end {
    justify-content: flex-end;
}

.jc_stretch {
    justify-content: stretch;
}

.ai_center {
    align-items: center;
}

.ai_stretch {
    align-items: stretch;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.margin_Auto {
    margin: auto;
}

.espaceDroite {
    margin-right: 1em;
}

.espaceHaut {
    margin-top: 1em;
}

.sansEspace {
    margin: 0;
}

.scroll-x {
    overflow-x: scroll;
    white-space: nowrap;
}

.espaceTopBot {
    margin-top: 3em;
    margin-bottom: 3em;
}

/*------------------------------------------------------------------------------------*/
/* boutton */
.boutton {
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: bisque;
    padding: 0.5em 1.5em ;
    border: solid 2px black;
    border-right: none;
    transition: background-color 1s;
}

.boutton_endNav {
    border-right: solid 2px black;
}

.boutton:hover{
    background-color: lightsalmon;
}

/*------------------------------------------------------------------------------------*/
/* boutton V2 */
.bouttonV2 {
    border: solid 1px black;
    background-color: #dfdfdf;
    text-decoration: none;
    color: black;
    padding: 0.1em 0.7em ;
}

table .bouttonV2 {
    font: inherit;
}

/*------------------------------------------------------------------------------------*/
/* base.html.twig */
body {
    background-image:url("../img/BackgroundWhite.jpg") ;
    background-attachment:fixed;
    margin: 0;
}

#bloc {
    width: 95%;
}

header {

}

header img {
    width: 100%;
}

main {
    background-color: white;
    background-image: url("../img/fondBlanc.jpg");
    padding: 0.5em;
}

/*------------------------------------------------------------------------------------*/
/* Base : Nav */
#admin_nav {
    margin-top: 0.5em;

}

/*------------------------------------------------------------------------------------*/
/* Base : Slider */
@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -33.33333333%; }
    45% { left: -33.33333333%; }
    50% { left: -66.66666666%; }
    70% { left: -66.66666666%; }
    75% { left: -100%; }
    95% { left: -100%; }
    100% { left: -133.3333333%; }
}

#slider { overflow: hidden }
/* max-width, la taille des image dans dans le slider, pour éviter les déformation*/

#slider figure {
    position: relative;
    width: 600%; /*car 5 image dans le slider*/
    margin: 0;
    padding: 0;
    font-size: 0;
    left: 0;
    text-align: left;
    animation: 30s slidy infinite;
}

#slider img { width: 5.5555555%; height: auto; float: left; } /* 20 car 100/5 le nombre d'image */

/*------------------------------------------------------------------------------------*/
/* Base : flash */
.flash {
    margin: 0.5em 0 ;
    padding: 0.2em;
}

.flash-error {
    background-color: #B0413E;
}

.flash-success {
    background-color: #5eb5e0;
}

/*------------------------------------------------------------------------------------*/
/* mise en page : colonne */
#MiseEnPage_colonne {
    border-top: dashed black 1px;
    margin: 1em 0;
}

#MiseEnPage_colonne > * {
    margin: 0;
}

#MiseEnPage_colonne > *:nth-child(1) {
    width: 20%;
    margin-right: 1em;
    border-right: dashed black 1px;
    padding-right: 0.5em;
}

#MiseEnPage_colonne > *:nth-child(2) {
    width: 80%;
}
/*------------------------------------------------------------------------------------*/
/* MiseEnPage_Colonne_GestionProduit */
#miseEnPage_Colonne_GestionProduit * {
    margin: 0.3em 0.5em
}


/*------------------------------------------------------------------------------------*/
/* mise en page : Pleine Page */
#backgroundNeutre {
    background-color: antiquewhite ;
    background-image: none;
}

/*------------------------------------------------------------------------------------*/
/* Tout les form */
form > div[id*="_form"] {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 60%;
    margin: auto auto 1em;
}

form > div[id*="_form"] div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.2em;
}

form > div[id*="_form"] > div[id*="_form"] {
    justify-content: space-around;
}

form[name*="_form"] > button {
    display: flex;
    margin: auto;
}

/*------------------------------------------------------------------------------------*/
/* register.html.twig */
form div#registration_form div:nth-last-child(2){
    justify-content: flex-start;
}

/*------------------------------------------------------------------------------------*/
/* login.html.twig */
#main_consulter {
    width: 60%;
    margin-bottom: 1em;
}
#main_consulter > div > div, #main_consulter > div > label {
    margin-bottom: 0.3em;
}

/*------------------------------------------------------------------------------------*/
/* motDePasseOublier.html.twig */
#MDPOublier_form input{
    margin-right: 0.5em;
}

/*------------------------------------------------------------------------------------*/
/* invitationClient/accueil.html.twig */
*[id*="_Table"]{
    border: solid 1px black;
    margin-top: 1em;
}

*[id*="_Table"] * {
    border: solid 1px black;
}

*[id*="_Table"] th {
   padding: 0.3em 1em;
}

*[id*="_Table"] form , *[id*="_Table"] div{
    border: none;
}

*[id*="_Table"] form {
    margin-right: 0.2em;
}

*[id*="_Table"] button {
    padding: 0.3em 1em;
}
*[id*="_Table"] input {
    max-width: 10em;
}

/*------------------------------------------------------------------------------------*/
/* adminProduits/affichage.html.twig */
#nomProduit{
    margin: 0.5em 1em;
}

#nomProduit a {
    text-decoration: none;
    color: black;
}

#bouttonAjoutProduit {
    margin-left: 1em;
}

#textAjoutProduit {
    margin: 1em 0;
}

#textAjoutProduit > p{
    margin:0;
}

#affichageProduit_Table tr>th:nth-child(3) {
    white-space: initial;
}

/*------------------------------------------------------------------------------------*/
/* adminProduits/modifier.html.twig */
#ModifeProduit_form {
    margin-left: 2em;
    margin-top: 1em;
}

#ModifeProduit_form > * {
   margin-bottom: 0.5em;
}

/*------------------------------------------------------------------------------------*/
/* adminArticle/accueil.html.twig */

.inputFile[type="file"] {
    max-width: none;
    border: none;
}

/*------------------------------------------------------------------------------------*/
/* clientArticle/affichage.html.twig */
.prensetationArticle img {
    height: 224px;
    width: 100% ;
}

.prensetationArticle a {
    text-decoration: none;
    color: black;
}

.prensetationArticle * {
    margin: 0;
}

.prensetationArticle {
    margin-right:1% ;
    height: 250px;
    width: 24%;
    border: 1px solid rgba(80,80,80,0.2);
    transition-property: border,background-color ;
    transition-duration: 1s;
}

.prensetationArticle:hover {
    border: 1px solid rgba(80,80,80,0.4) ;
    background-color: rgba(80,80,80,0.15) ;
}

.prensetationArticle:nth-last-child(1) {
    margin-right:0 ;
}

.prensetationArticle_info *:nth-child(1) {
    margin-right: 1em;
}

.prensetationArticle_info {
    margin: 4px 0;
}

/*------------------------------------------------------------------------------------*/
/* clientArticle/detail.html.twig */

#Article_Table tr>th:nth-child(3) {
    white-space: initial;
}

@keyframes slidyArticle {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}

#sliderArticle { overflow: hidden; width: 50% }

#sliderArticle figure {
    position: relative;
    width: 1000%; /*car 10 image dans le slider*/
    margin: 0;
    padding: 0;
    font-size: 0;
    left: 0;
    text-align: left;
    animation: 30s slidyArticle infinite;
}

#sliderArticle img { width: 10%; float: left; height: 400px } /* 20 car 100/5 le nombre d'image */

