/*------------------------------------------------------------------------------------*/
/* class flex réutilisable */
.flex {
    display: flex;
}

.jc_center {
    justify-content: center;
}

.jc_spaceEvenly {
    justify-content: space-evenly;
}

.jc_spaceBetween {
    justify-content: space-between;
}

.jc_end {
    justify-content: flex-end;
}

.jc_stretch {
    justify-content: stretch;
}

.ai_center {
    align-items: center;
}

.ai_stretch {
    align-items: stretch;
}

.column {
    flex-direction: column;
}

.margin_Auto {
    margin: auto;
}

.espaceDroite {
    margin-right: 1em;
}

/*------------------------------------------------------------------------------------*/
/* boutton */
.boutton {
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: bisque;
    padding: 0.5em 1.5em ;
    border: solid 2px black;
    border-right: none;
    transition: background-color 1s;
}

.boutton_endNav {
    border-right: solid 2px black;
}

.boutton:hover{
    background-color: lightsalmon;
}

/*------------------------------------------------------------------------------------*/
/* boutton V2 */
.bouttonV2 {
    border: solid 1px black;
    background-color: #dfdfdf;
    text-decoration: none;
    color: black;
    padding: 0.1em 0.7em ;
}

table .bouttonV2 {
    font: inherit;
}

/*------------------------------------------------------------------------------------*/
/* mise en page : gestion */
#MiseEnPage {
    width: 60%;
    margin: 1em;
    min-height: 400px;
}

#MiseEnPage_nav {
    width: 20%;
    margin: 0 0.5em 0 0;
}

#MiseEnPage_nav > * {
    margin: 0.2em 0.5em;
}

#MiseEnPage_main {
    width: 80%;
    margin: 0;
}

/*------------------------------------------------------------------------------------*/
/* mise en page : Pleine Page */
#backgroundNeutre {
    background-color: antiquewhite ;
    background-image: none;
}

/*------------------------------------------------------------------------------------*/
/* base.html.twig */
body {
    background-image:url("../img/fondCuirTempo.jpg") ;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
}

.bloc {
    background-color: antiquewhite;
    width: 60%;
    margin: 1em;
    border: solid 1px black;
    border-radius: 0.2em;
}

/*------------------------------------------------------------------------------------*/
/* Base : Header */
header {
    max-height: 200px;
}

#logoCuirNomade, #contenueHeader {
    width: 50%;
    margin: 0.5em;
}

#logoCuirNomade img {
    width: 100%;
    max-height: 190px;
}

/*------------------------------------------------------------------------------------*/
/* Base : Slider */
@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -50%; }
    45% { left: -50%; }
    50% { left: -100%; }
    70% { left: -100%; }
    75% { left: -150%; }
    95% { left: -150%; }
    100% { left: -200%; }
}

#slider { overflow: hidden }
    /* max-width, la taille des image dans dans le slider, pour éviter les déformation*/

#slider figure {
  position: relative;
  width: 500%; /*car 5 image dans le slider*/
  margin: 0;
  padding: 0;
  font-size: 0;
  left: 0;
  text-align: left;
  animation: 30s slidy infinite;
}

#slider figure a img { width: 10%; height: auto; float: left; } /* 20 car 100/5 le nombre d'image */

/*------------------------------------------------------------------------------------*/
/* Base : body nav */
#main_nav, #admin_nav {
    margin: 0.5em;
    background-color: peru;
}

/*------------------------------------------------------------------------------------*/
/* Base : flash */
.flash {
    margin: 0.5em;
    padding: 0.2em;
}

.flash-error {
    background-color: #B0413E;
}

.flash-success {
    background-color: #5eb5e0;
}

/*------------------------------------------------------------------------------------*/
/* Base : main */
main {
    margin: 1em;
}

/*------------------------------------------------------------------------------------*/
/* Tout les form */
form > div[id*="_form"] {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 60%;
    margin: auto;
    margin-bottom: 1em;
}

form > div[id*="_form"] div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.2em;
}

form > div[id*="_form"] > div[id*="_form"] {
    justify-content: space-around;
}

form[name*="_form"] > button {
    display: flex;
    margin: auto;
}

/*------------------------------------------------------------------------------------*/
/* register.html.twig */
form div#registration_form div:nth-last-child(2){
    justify-content: flex-start;
}

/*------------------------------------------------------------------------------------*/
/* login.html.twig */

/*------------------------------------------------------------------------------------*/
/* login.html.twig */
#main_consuler {
    width: 60%;
    margin-bottom: 1em;
}
#main_consuler > div > div, #main_consuler > div > label {
    margin-bottom: 0.3em;
}

/*------------------------------------------------------------------------------------*/
/* motDePasseOublier.html.twig */
#MDPOublier_form input{
    margin-right: 0.5em;
}

/*------------------------------------------------------------------------------------*/
/* invitationClient/accueil.html.twig */
*[id*="_Table"]{
    border: solid 1px black;
    margin-top: 1em;
}

*[id*="_Table"] * {
    border: solid 1px black;
}

*[id*="_Table"] th {
   padding: 0.3em 1em;
}

*[id*="_Table"] form , *[id*="_Table"] div{
    border: none;
}

*[id*="_Table"] form {
    margin-right: 0.2em;
}

*[id*="_Table"] button {
    padding: 0.3em 1em;
}
*[id*="_Table"] input {
    max-width: 7em;
}

/*------------------------------------------------------------------------------------*/
/* adminProduits/affichage.html.twig */
#nomProduit{
    margin: 0.5em 1em;
}

#nomProduit a {
    text-decoration: none;
    color: black;
}

#bouttonAjoutProduit {
    margin-top: 1em;
    display: inline-block;
}

/*------------------------------------------------------------------------------------*/
/* adminProduits/modifier.html.twig */
#ModifeProduit_form {
    margin-left: 2em;
    margin-top: 1em;
}

#ModifeProduit_form > * {
   margin-bottom: 0.5em;
}
