{% extends 'miseEnPage_Classique.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}
    <nav>
        <a class="boutton" href="{{ path('profil_consulter') }}">Consulter</a>
        <a class="boutton" href="#">Todo : ajouter des truc</a>
    </nav>
{% endblock %}