{% extends 'miseEnPage_Gestion.html.twig' %}

{% block body %}
    <div class="flex ai_center">
        <h1 id="nomProduit">{{ nomProduit }}</h1>
        <div>
            <a class="boutton boutton_endNav">Mettre a jour le stock</a>
            <a class="boutton boutton_endNav">Modifier</a>
            <a class="boutton boutton_endNav">Supprimer</a>
        </div>
    </div>
   <table>
       <tr>
           {% for nom,type in listeColonne %}
               <th>{{ nom }}</th>
           {% endfor %}
           <th>Action</th>
       </tr>
       {% for article in listeArticle %}
           <tr>
               {% for key,valeur in article %}
                   {% if key in  listeColonne|keys  %}
                       <th> {{ valeur }}</th>
                   {% endif %}
               {% endfor %}
               <th>
                   <a class="bouttonV2">Modifier</a>
                   <a class="bouttonV2">Supprimer</a>
               </th>
           </tr>
       {% endfor %}
       <tr>
           <form method="post" action="#">
               {% for colone in listeColonne %}

               {% endfor %}
               <th> <button class="bouttonV2" type="submit" >Ajouter</button> </th>
           </form>
       </tr>
   </table>

{% endblock %}

{% block title %}

{% endblock %}

