{% extends 'miseEnPage_Colonne_GestionProduit_nomProduit.html.twig' %}

{% block body2 %}
    <div class="scroll-x">
        {% for produit in listeProduits %}
            {% if produit.nom == nomProduit %}
                {% if produit.isVip %} <p>Ce produit est réservé au clients VIP</p>
                {% else %} <p>Ce produit est n'est pas réservé au client VIP</p>
                {% endif %}
            {% endif %}
        {% endfor %}
        <table id="affichageProduit_Table">
           <tr>
               {% for nom in listeColonne|keys %}
                   <th>{{ nom }}</th>
               {% endfor %}
           </tr>
           {% for article in listeArticle %}
               <tr>
                   {% for key,valeur in article %}
                       {% if key in  listeColonne|keys  %}
                           <th> {{ valeur }}</th>
                       {% endif %}
                   {% endfor %}
               </tr>
           {% endfor %}
        </table>
        <a id="bouttonAjoutProduit" class="bouttonV2" href="{{ path('adminArticle_accueil', {'nomProduit': nomProduit ,'isModification':0}) }}">Editer les articles</a>
    </div>
{% endblock %}

{% block title %}
    Produit : {{ nomProduit }}
{% endblock %}

