{% extends 'miseEnPage_Gestion_navProduit.html.twig' %}

{% block body2 %}
    <table id="affichageProduit_Table">
       <tr>
           {% for nom,type in listeColonne %}
               <th>{{ nom }}</th>
           {% endfor %}
           <th>Action</th>
       </tr>
       {% for article in listeArticle %}
           <tr>
               {% for key,valeur in article %}
                   {% if key in  listeColonne|keys  %}
                       <th> {{ valeur }}</th>
                   {% endif %}
               {% endfor %}
               <th>
                   <a class="bouttonV2">Modifier</a>
                   <a class="bouttonV2">Supprimer</a>
               </th>
           </tr>
       {% endfor %}
    </table>
    <a id="bouttonAjoutProduit" class="bouttonV2" href="#">Ajouter</a>

{% endblock %}

{% block title %}
    Produit : {{ nomProduit }}
{% endblock %}

