{% extends 'miseEnPage_Gestion.html.twig' %}

{% block title %}
    Ajouter un nouveau type de produit
{% endblock %}

{% block body %}
    <h1> Ajouter un nouveau type de produits </h1>

    <form method="post" action="{{ path('adminProduit_creer') }}">
        <div>
            <label for="nom" > Nom : </label>
            <input id="nom" type="text" name="nom" required >
        </div>
        <div>
            <label for="isVIP" > Réserver au VIP : </label>
            <input id="isVIP" type="checkbox" name="isVIP" value="true" >
        </div>
        <div>Il possèdera aussi comme attribut obligatoire : </div>
        <div>- un prix </div>
        <div>- une couleur </div>
        <div>- une ou des photos </div>
        <div>- une description </div>
        <div>- un nombre d'article en stock </div>
        <div>- un etat (en vente, en réaprovisionement, rupture de stock, vente en pause)</div>
        <button type="submit" class="boutton boutton_endNav">Valider et ajouter d'autres attributs</button>
    </form>
{% endblock %}



