{% extends 'miseEnPage_Colonne.html.twig' %}

{% block body %}
    <div id="accueilArticle" class="flex column">
        {% for produit in repertoir %}
            <div>
                <h1>{{ produit.nom }}</h1>
                <div class="flex wrap listeArticle2">
                    {% for article in listeArticle[produit.nom] %}
                        {% include 'clientArticle/affichage.html.twig' with {'article': article} %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block contenueColonne %}
    <div class="flex column ai_stretch" id="listeProduit">
        {% for produit in repertoir %}
            <a href="{{ path('clientArticle_recherche', {'nomProduit': produit.nom}) }}" class="boutton boutton_endNav flex ai_center"><h1>{{ produit.nom }}</h1></a>
        {% endfor%}
    </div>
{% endblock %}

{% block title %}
    Nos produits !
{% endblock %}

