<a href="">
    <img src="../public/uploads/photos/{{ article.nomImage }}">
    <div>
        <h4>{{ article.Modele }}</h4>
        <p>{{ article.Couleur }}</p>
        <p>{{ article.Prix }}</p>
    </div>
</a>