<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>{% block title %}Accueil{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

    </head>
    <body class="flex jc_center ai_center">
        <div class="mainPage">
            <header> <h1 class="flex jc_center" > TODO : mettre le logo du site </h1> </header>

            <nav class="navBar flex jc_spaceEvenly" >
                <a class="boutton" href="{{ path('main_accueil') }}" >Accueil</a>
                <a class="boutton" href="#" >Produits</a>
                <a class="boutton" href="{{ path('main_presentation') }}" >L'Entreprise</a>
                <a class="boutton" href="#" >Mon Compte</a>
                <a class="boutton" href="#" >déco</a>
            </nav>

            <main> {% block body %}{% endblock %} </main>

            <footer class="flex jc_center" > footer </footer>
        </div>
    </body>

</html>
