<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>{% block title %}Accueil{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

    </head>
    <body class="flex jc_center ai_center column">

        <div id="bloc">
            <header class="flex">
                    <img src="/CuirNomade/public/img/banniereSite.png" alt="Logo du Site Cuirs Nomades">
            </header>

            <main>
                {{ include('miseEnPage/mainNav.html.twig') }}
                {{ include('miseEnPage/adminNav.html.twig') }}
                {{ include('miseEnPage/flash.html.twig') }}

                {% block slider %} {% endblock %}

                {% block miseEnPage %} {% endblock %}

                <footer class="flex jc_center" > footer </footer>
            </main>
        </div>

    </body>

</html>
