{% extends 'base.html.twig' %}

{% block miseEnPage %}
    <div class="bloc">
        {{ include('miseEnPage/mainNav.html.twig') }}
        {{ include('miseEnPage/adminNav.html.twig') }}
        {{ include('miseEnPage/flash.html.twig') }}

        <main> {% block body %}{% endblock %} </main>
    </div>
{% endblock %}