{% extends 'base.html.twig' %}

{% block miseEnPage %}
    <div id="MiseEnPage_colonne" class="flex">
        <nav class="flex column ai_stretch">
            {% block contenueColonne %} {% endblock %}
        </nav>
        <div id="MiseEnPage_main">
            {% block body %} {% endblock %}
        </div>
    </div>
{% endblock %}