{% extends 'base.html.twig' %}

{% block title %} 404 {% endblock %}

{% block body %}
    <h1 class="titre-erreur">404 !</h1>
    <p class="phrase-erreur">VOUS ÊTES PARTIS TROP LOIN…</p>
{% endblock %}