<h1>Vous avez été invité par Emmanuel et Maryse Bénéteau a devenir client VIP de CuirNomade  !</h1>
<p>Merci de cliquer sur le liens suivant creer vootre compte ! </p>
<a href="localhost/CuirNomade/public/CeerUnCompteVIP/{{ invitationClient.email }}/{{ invitationClient.code }}">Creer votre compte</a>