<h1>Bienvenue {{ user.nom }} chez Cuir Nomade</h1>
<p>Merci de cliquer sur le lien suivant afin de valider votre adresse mail : </p>
<a href="localhost/CuirNomade/public/validerEmail/{{ validator.id }}/{{ validator.code }}">valider votre email</a>