<h1>Bienvenue {{ user.nom }} chez Cuir Nomade</h1>
<p>Merci de cliquer sur le liens suivant afin de validé votre adresse mail : </p>
<a href="localhost/CuirNomade/public/validerEmail/{{ validator.id }}/{{ validator.code }}">validé votre email</a>